// emoji-list
.emoji-list
  display flex
  flex-wrap wrap
  padding 5px
.emoji-item
  flex: 0 0 14.2857%;
  max-width: 14.2857%;
  padding 2px
  display: flex;
  align-items: center;
  justify-content: center;
  img
    width 100%
    height 100%
    max-width 2.75rem
    max-height 2.75rem
    object-fit contain