  
// koromo-vue tag input fix
.kv-input-tag-box
  .kv-input-tag
    padding 0.5rem 1rem 1rem!important
  .kv-input-suggestions
    margin-top 0.5rem
    margin-left 0!important
  .kv-input-suggestions .tt-input
    -webkit-appearance none
    appearance none
    border 1px solid #ddd
  .kv-tag
    margin-right 0.3rem!important
    margin-bottom 3px!important
  .kv-tag,
  .bootstrap-tagsinput .tt-suggestion
    overflow hidden
    text-overflow ellipsis
    display inline-block!important