.status-bar-preview
  margin: -0.5rem -0.875rem 0.875rem
  padding: 1rem 1.25rem
  border-radius: 7px
  .las, .lar
    font-size: 1.125rem
  .la-chevron-right
    color: #B7B7B7
    font-size: 0.95rem