// Chatlist : Avatar pin 
.avatar-pin
  bottom 0
  right -0.375rem
    
  .fas 
    margin-left -2px

// Chatlist : List item
.list-group-item-chat
  min-height 90px
  & > a
    padding 0.75rem 1.25rem
    color #495057
    