// 3.4 fix
.la-fw 
  text-align center
  width 1.25em


// Laicon : Custom icon for notification
.la-custom-circle
  position relative
  display block
  line-height 1.40625rem
  border-radius 50%

  .la-custom-circle-icon
    position absolute
    top 50%
    left 50%
    font-size 53%
    transform translate(-50%, -50%)